<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"> <!-- 나는 타임리프를 써요, 앞으로 항상 들어가야할 속성이다 -->
<head th:replace="~{/layout/header::head('welcome')}">
<link rel="stylesheet" th:href="@{/css/style.css?ver=1.0}"> <!-- css/style.scc?ver=1.0 이와 같이 타임리프식 파라미터 보내기 -->
</head>
<body>
<!--/* 타임리프 주석 */-->
<!-- 앞으로 th 는 자바가 해석하는 태그이다. -->
<!-- Link URL Expression : @{} , 링크(경로)작성할때 쓴다. -->

<div th:replace="~{/layout/header::gnbFrag}"></div>

<ul th:fragment="gnbFrag">
	 <li><a th:href="@{/bbs/list.do}">BBS</a></li> <!-- contextPath를 앞으로는 작성 안해도 된다. 그 밑 경로만 적으면 된다. -->
</ul>

  <img th:src="@{/images/animal1.jpg}" width="100px;">
  <div id="picture"></div>
</body>
</html>